[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=UK
ST=Surrey
L=Guildford
O=Contentity Ltd
OU=Web Development
emailAddress=abw@wardley.org
CN=spinal-tapsum.local.wardley.org
