/*-- components/typography --*/
html {
  font-family: var(--font-sans);
}
body {
  color: var(--body-text);
  background-color: var(--body-back);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: var(--head-text);
}
h1 {
  font-size: var(--size-largest);
  margin-block-end: 0.5rem;
}
h2 {
  font-size: var(--size-larger);
  margin-block-start: 2rem;
  margin-block-end: 0.5rem;
}
p {
  margin-block-end: 1.5rem;
  line-height: 1.6;
}
b {
  color: var(--bold-text);
}
a:not(button, .button) {
  text-decoration: none;
  color: var(--link-text);
  transition: color 0.3s ease-out;
  &:hover {
    color: var(--link-hover);
  }
}
.hover {
  color: var(--link-50);
  transition: 0.3s;
  &:hover {
    color: var(--hover-50);
    transition: 0.15s;
  }
}
.output {
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
